<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!-- 控制台日志，信息会打印到控制显示-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【时间】：%date{yyyy:MM:dd HH:mm:ss}%n【等级】：%p%n【方法】：%stacktracedetail%n【信息】：%m" />
      </layout>
    </appender>

    <!--控制台打印颜色-->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
        <!--<backColor value="Red, HighIntensity" />-->
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
        <!--<backColor value="Black, HighIntensity" />-->
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【时间】：%date{yyyy:MM:dd HH:mm:ss}%n【等级】：%p%n【方法】：%stacktracedetail%n【信息】：%m%n" />
      </layout>
    </appender>

    <!--文件-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt" />
      <!--文件名-->
      <appendToFile value="true" />
      <!--是否追加-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【时间】：%date{yyyy:MM:dd HH:mm:ss}%n【等级】：%p%n【方法】：%stacktracedetail%n【信息】：%m%n" />
      </layout>
    </appender>

    <!--滚动文件   -->
    <!-- 普通的文件-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "Log\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.read.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【时间】：%date{yyyy:MM:dd HH:mm:ss}%n【等级】：%p%n【方法】：%stacktracedetail%n【信息】：%m%n" />
      </layout>
    </appender>

    <!-- htm页面查看 -->
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\Info\" />
      <!--路径或者文件名-->
      <appendToFile value="true" />
      <!--是否追加-->
      <rollingStyle value="Composite" />
      <!--滚动规则-->
      <maxSizeRollBackups value="-1" />
      <!-- 备份文件的个数,只存一个设置为-1-->
      <maximumFileSize value="10MB" />
      <!-- 单个日志文件最大的大小-->
      <staticLogFileName value="false" />
      <!-- 是否使用静态文件名,这是设置为false，下面才能自定义-->
      <DatePattern   value="yyyyMMdd&quot;.htm&quot;" />
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <!--这里的格式需要跟html中的样式一样去写
        &lt;BR>=<BR> 换行   这样类似的
        -->
        <conversionPattern value="&lt;HR COLOR=blue>【时间】：%date{yyyy:MM:dd HH:mm:ss}&lt;BR>【等级】：%p&lt;BR>【方法】：%stacktracedetail&lt;BR>【信息】：%m&lt;BR>&lt;HR Size=1>" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--使用过滤，只记录INFO和WARN-->
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!-- htm页面查看错误-->
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\Error\" />
      <!--路径或者文件名-->
      <appendToFile value="true" />
      <!--是否追加-->
      <rollingStyle value="Composite" />
      <!--滚动规则-->
      <maxSizeRollBackups value="-1" />
      <!-- 备份文件的个数,只存一个设置为-1-->
      <maximumFileSize value="10MB" />
      <!-- 单个日志文件最大的大小-->
      <staticLogFileName value="false" />      
      <!-- 是否使用静态文件名,这是设置为false，下面才能自定义-->
      <DatePattern   value="yyyyMMdd&quot;.htm&quot;" />
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;HR COLOR=red>【时间】：%date{yyyy:MM:dd HH:mm:ss}&lt;BR>【等级】：%p&lt;BR>【方法】：%stacktracedetail&lt;BR>【信息】：%m&lt;BR>&lt;HR Size=1>" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <!-- 添加根节点 -->
    <root>
      <level value="ALL" />
      <appender-ref ref="InfoRollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
    </root>
    <!-- 单独添加logger-->
    <!--<logger name = "LoggerName" >
      <level value = "all" />
      <appender-ref ref = "ConsoleAppender" />
    </logger>-->
  </log4net>
</configuration>